@import './../../../../../theme.scss';

mat-card {
  width: 250px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 3px 5px;
  overflow-y: hidden;
}

mat-card-header {
  height: 45px;
}

.event-container {
  display: flex;
  flex-direction: column;
}

.event {
  background-color: mat-color($candy-app-accent);
  border-radius: 2px;
  color: mat-color($candy-app-accent-text);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  padding: 0 5px;
}
